@{
    ViewData["Title"] = "Tech Skills Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
      <div class="mt-4">
        <h2 class="h4">Skills</h2>
        <ul class="list-inline">
            <li class="list-inline-item badge bg-primary">React.js</li>
            <li class="list-inline-item badge bg-secondary">ASP.NET Core</li>
            <li class="list-inline-item badge bg-success">Java</li>
            <li class="list-inline-item badge bg-danger">JavaScript</li>
            <li class="list-inline-item badge bg-warning">SQL</li>
            <li class="list-inline-item badge bg-info">Microservices</li>
        </ul>
    </div>
</div>
